<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>jp.shigured.sora.ios.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>ENABLE_BITCODE</key>
			<string>NO</string>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<string>$(inherited) $(PROJECT_DIR)/Carthage/Build/iOS</string>
			<key>OTHER_LDFLAGS</key>
			<string>-ObjC</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>AVKit</string>
				<string>CFNetwork</string>
				<string>CoreAudio</string>
				<string>CoreMedia</string>
				<string>Foundation</string>
				<string>MediaToolbox</string>
				<string>Security</string>
				<string>VideoToolbox</string>
			</array>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Copy Carthage Frameworks</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/usr/local/bin/carthage copy-frameworks</string>
					<key>InputFiles</key>
					<array>
						<string>$(SRCROOT)/Carthage/Build/iOS/Unbox.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/Sora.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/SocketRocket.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/WebRTC.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/WebP.framework</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Cartfile</string>
		<string>Frameworks/Sora.framework</string>
		<string>Frameworks/Unbox.framework</string>
		<string>Frameworks/WebRTC.framework</string>
		<string>Frameworks/WebP.framework</string>
		<string>Frameworks/SocketRocket.framework</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Misc</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>SortOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Cartfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Misc</string>
			</array>
			<key>Path</key>
			<string>Cartfile</string>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Frameworks</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>SortOrder</key>
			<integer>1001</integer>
		</dict>
		<key>Frameworks/Sora.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Carthage/Build/iOS/Sora.framework</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>SortOrder</key>
			<integer>105</integer>
		</dict>
		<key>Frameworks/SocketRocket.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Carthage/Build/iOS/SocketRocket.framework</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>SortOrder</key>
			<integer>105</integer>
		</dict>
		<key>Frameworks/Unbox.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Carthage/Build/iOS/Unbox.framework</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>SortOrder</key>
			<integer>105</integer>
		</dict>
		<key>Frameworks/WebP.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Carthage/Build/iOS/WebP.framework</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>SortOrder</key>
			<integer>105</integer>
		</dict>
		<key>Frameworks/WebRTC.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Carthage/Build/iOS/WebRTC.framework</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>SortOrder</key>
			<integer>105</integer>
		</dict>
	</dict>
</dict>
</plist>
